.people-list .list-controls {
  margin: 20px;
  text-align: center;
}

.people-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.people-list li {
  width: 200px;
  margin: 15px 25px;
}

.people-list li p {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 20px;
  transition: all .2s ease-in-out;
}

.people-list li:hover p {
  padding-top: 20px;
  padding-bottom: 0px;
}

.people-list .person-image {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 7px solid black;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.people-list li:hover .person-image {
  transform: scale(1.3);
}

.modal-body img {
  width: 100%;
}

.modal-title {
  text-align: center;
}

.game-link-container {
  text-align: right;
}

.game-link {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  font-size: 25px;
}

.game-link:hover {
  text-decoration: none;
  background-color: darkgreen;
  color: white;
}

.back-link {
  display: inline-block;
  background-color: gray;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 25px;
}

.back-link:hover {
  text-decoration: none;
  background-color: dimgray;
  color: white;
}

.game-container {
  text-align: center;
}

.game-container .person-image {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 7px solid black;
}

@media (min-width: 500px) {
  .game-container .person-image {
    width: 500px;
    height: 500px;
  }
}

.game-container ul {
  list-style: none;
  text-align: center;
}

.game-container li {
  display: inline-block;
  background-color: gray;
  color: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 25px;
  width: 80%;
}

.game-container li:hover {
  text-decoration: none;
  background-color: dimgray;
  color: white;
  cursor: pointer;
}
