<div class="people-list">

  <div class="list-controls">
    <label for="peopleSort"> Sort By: </label>
    <select name="peopleSort" ng-model="PeopleCtrl.peopleSort">
      <option value="name">Name (Alphabetical)</option>
      <option value="-name">Name (Reverse Alphabetical)</option>
    </select>

    <label for="genderFilter">Filter By: </label>
    <select name="genderFilter" ng-model="PeopleCtrl.genderFilter">
      <option value="all">All</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="not specified">Not Specified</option>
    </select>
  </div>

  <ul>
    <li ng-repeat="person in PeopleCtrl.people | bygender:PeopleCtrl.genderFilter | orderBy: PeopleCtrl.peopleSort">
      <div class="person-image" style="background-image: url('{{person.image}}')" ng-click="PeopleCtrl.openDetails(person)"></div>
      <p>{{person.name}}</p>
    </li>
  </ul>
</div>
